.bttn {
  border: none;
  width: 200px;
  height: 45px;
  display: flex !important;
  justify-content: center;
  align-items: center;
  gap: 12px;
  color: white;
  background: #1c1a1c;
  cursor: pointer !important;
  transition: all 450ms ease-in-out !important;
  border: 1px solid #aaa !important;
}
